body{
	font-family: 'Josefin Sans', sans-serif;
}

.graph{
	margin-top: 40px;
	margin-bottom: 20px;
	height: 250px;
}

.graph .dygraph-roller{
	position: absolute;
	top: 310px;
}

.graph .dygraph-legend{
	background-color: #fff;
	z-index: 1;
	margin-left: 50%;
}

.graph .dygraph-xlabel{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	text-align: center;
	margin-top: 15px;
}

#popup{
	display: none;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
	border: 2px solid #0060aa;
	border-radius: 3px;
	padding: 5px;
	z-index: 99;
}

#container{
	padding-top: 20px;
	width: 80%;
}

#legend-labels{
	/*padding-bottom: 10px;*/
}

#legend-labels span{
	display: inline-block;
}

.line{
	width: 20px;
	display: inline-block;
	position: relative;
	bottom: .5ex;
	height: 1px;
}

#legendId, #legendId2, #legendId3, #legendId4{
  width: 100%;
}

div.legendItem {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  padding-left: 1em;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
span.legendItem {
  font-weight: bold;
}


